body{
	background-color: #DDA0DD;
	padding-bottom: 30px;
}
.wrap{
	display: inline-block;
	margin-bottom: 30px;
}
.stories{
	border-radius: 8px;
	border: solid #9400D3 2px;
	background: #BFEFFF;
	height:460px;
	margin: 10px;
	width: 40%;
	overflow-y: auto;
}

.stories:nth-child(odd){
	margin-left: 120px;
}


.descr{
    font-style:italic;
	font-weight: 100;
}


h3 {    
	color: black;
}
 p{
	color: black;
}

.writenBy{
	color: #8A2BE2;
	font-style: italic;; 
}

.name{
	    margin: 0 auto;
    display: block;
}

.wrap_form{
	    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
	width: 50%;
    margin: 0 auto;


}

.wrap_form h3{
	margin-top: 0px;
}

.addPost{
	margin-left: 120px;
    width: 40%;
    height: 400px;
    border: 2px solid black;
    display: none;
    border-radius: 8px;
    margin-top: 10px;
    padding: 0px 15px;
    background: #BFEFFF;
}

.filter{
	
    padding-left: 45%;  
    display: inline-block;
}

.DipInj{
	display: block;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
@media only screen and (max-width: 770px )
{
	.news:nth-child(odd){
	margin-left: 10px;
		}

	.news{
		width: 90%;
	}	

	.wrap_form{
		width:90%;
		
	}

	.addPost{
		width: 90%;
	}

}